@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    background: linear-gradient(180deg, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

