@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    background: linear-gradient(180deg, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.calculator{
    background-color: #000;
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
    height: 400px;
    width:250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}


.nums-container{
    width: 75%;
}

button.ac{
    margin-right: 50%;
}

.ops-container{
    width: 25%;
}

#display{
    color: white;
    width: 100%;
    padding: 10px;
    text-align: right;
    font-size: 36px;

}

button{
    border: none;
    border-radius: 50%;
    font-size: 24px;
    height: 50px;
    width: 50px;
    margin: 5px;
    cursor: pointer;
}

button:active{
    transform: scale(0.98);
}

button:hover{
    opacity: 0.9;
}

button:focus{
    outline: none;
}

button.orange{
    background-color: #ee9406;
    color: white;
}

button.dark-grey{
    background-color: #323232;
    color: white;
}

button.light-grey{
    background-color: #a5a5a5;
}

button.big-v{
    border-radius: 50px;
    width: 110px;
}